services:
  emailfilter:
    container_name: emailfilter
    build: .
    ports:
      - "${EMAILFILTER_IP:-127.0.0.1}:${EMAILFILTER_PORT:-8000}:8000"
    volumes:
      - ./:/app
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro      
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    mem_limit: ${EMAILFILTER_RAM:-1g}
    cpus: ${EMAILFILTER_CPU:-1.0}
    pids_limit: 1000
